{% extends 'base_layout.html' %}

{% block content %}
<div id="songs-list-area">
    <h1>Song List</h1>
    
    {% for song in songs %}
        <div class="song-tile">
            <h2><a href="{% url 'songs:detail' slug=song.slug %}">{{ song.title }}</a></h2>
            <p>{{ song.snippet }}</p>
            <p>{{ song.date }}</p>
            <audio controls>
                <source src="{{ song.audio.url }}" type="audio/mpeg" >
            </audio>
            {{ song.audio }}
        </div>
    {% endfor %}
</div>
{% endblock %}