{% extends 'base_layout.html' %}

{% block content %}
<div>
    <h1>Song List</h1>
    {% for song in songs %}
        <div class="card song">
            <div class="card-header">
                <h2 class="card-title"><a href="{% url 'songs:detail' slug=song.slug %}">{{ song.title }}</a></h2>
            </div>
            <div class="card-body">
                <p class="card-text">{{ song.snippet }}</p>
                <p class="card-text">{{ song.date }}</p>
                <audio controls>
                    <source src="{{ song.audio.url }}" type="audio/mpeg" >
                </audio>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}