@import './root.css';

#sidenav {
    background-color: var(--color-off-white);
}

.sidenav-link, #sidenav a {
    color: rgb(29, 29, 29);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}