/* TODO: Figure out Django static files situation */

@import './root.css';

#sidenav {
    background-color: var(--color-off-white);
}

.sidenav-link, #sidenav a {
    font-family: 'Work Sans', sans-serif;
    color: red;
}