{% extends 'base_layout.html' %}

{% block content %}
<div id="about-container" class="container">
    <h1>Howdy!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit lectus ac vulputate ornare. Donec sit amet congue libero. Nullam auctor orci eu turpis cursus, vitae pharetra metus vehicula. Vestibulum lacinia velit justo, nec sagittis elit lacinia eget. Suspendisse erat turpis, consectetur placerat sagittis vitae, mollis eget arcu. Mauris ac ipsum diam. Aliquam aliquam neque vel odio facilisis, at aliquet libero consequat. Phasellus accumsan, tellus quis pellentesque consequat, nunc massa ultrices eros, non tempor leo diam at magna. Ut dapibus tellus dapibus mauris efficitur luctus. Vestibulum eu est magna. Nam ut suscipit odio, et tempor nibh. In et tempus orci. Suspendisse euismod massa suscipit lacinia tempus.</p>

    <br />

    <p>Sed ac augue eu odio condimentum finibus. Pellentesque molestie sed lacus non dictum. Donec pretium odio quis venenatis ultricies. Mauris varius egestas condimentum. Donec at purus nisi. Sed sem sapien, imperdiet a diam ac, finibus pharetra ante. Fusce at diam et leo sollicitudin vestibulum in vulputate libero.</p>
</div>
{% endblock %}